/* #basic-navbar-nav {
    position: absolute;
    width: 1440px;
    height: 73px;
    left: 0px;
    top: 0px;

    border: 1px solid #000000;
} */

.navbar {
    color: black;
    font-size: smaller;
    font-family: Libre Caslon Display;
    font-weight: 100;

}

.navbar:hover {
    color: #8C837B !important
}