.HomeCol {
    position: relative;
    display: flex;
    justify-content: center;


}

.ColorBlock {
    position: absolute;
    width: 90vw;
    height: 100vh;
    margin-top: 2%;
    /* margin-bottom: 5rem;
    margin-left: 5rem;
    margin-right: 5rem; */


    background: #F2EAE4;
    border-radius: 3px;
}