.HomeCol {
    position: relative;
    display: flex;
    justify-content: center;


}

.ColorBlock {
    position: absolute;
    margin-top: 2%;
    width: 90vw;
    height: 82vh;
    /* margin-left: 5rem;
    margin-right: 5rem; */
    background: #F2EAE4;
    border-radius: 3px;
    font-family: Libre Caslon Display;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
}