/* CHANGE POSTIOIONS AND SIZES FROM PX */


.PortTitle {
    position: absolute;
    width: 179px;
    height: 42px;
    left: 641px;
    top: 127px;

    font-family: Libre Caslon Display;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 37px;

    color: #000000;
}

.HrLine {
    position: absolute;
    width: 261px;
    height: 0px;
    left: 588px;
    top: 171.16px;

    border: 1px solid #000000;
}

.BgBlockTop {
    position: absolute;
    width: 583px;
    height: 637px;
    left: 142px;
    top: 249px;

    background: #F2EAE4;
    border-radius: 3px;
}

.SmBlockTop {
    position: absolute;
    width: 561px;
    height: 224px;
    left: 119px;
    top: 602px;

    background: #BFA490;
    border-radius: 3px;
}

.PortImgTopL {
    position: absolute;
    width: 250px;
    height: 250px;
    left: 202px;
    top: 301px;

    background: #C4C4C4;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    }

.PortTextTopL {
    padding: 2rem;
}
.PortTextTopR {
    padding: 2rem;
    text-align: right;
    position: absolute;
    width: 550px;
    height: 191px;
    left: 20px;
    top: 351px;
}

.PortImgTopR {
    position: absolute;
    width: 250px;
    height: 250px;
    left: 327px;
    top: 604px;

    background: #C4C4C4;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}